<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
    <title>Olá, mundo!</title>
  </head>
  <body>
    <div id="app">

        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Sistema</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="index.html">Usuários<span class="sr-only">(página atual)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="cliente.html">Cadastro Cliente</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Endereço
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="país.html">Cadastro País</a>
                        <a class="dropdown-item" href="estado.html">Cadasrto Estado</a>
                        <a class="dropdown-item" href="cidade.html">Cadastro Cidade</a>
                      </div>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <button @click="buscarUsuario()" class="btn btn-outline-success my-2 my-sm-0" type="button">Pesquisar Usuários</button>
                  </form>
                </div>
              </nav>
        </div>
       <div class="container">
    <h5 style="padding-top: 20px;">Cadastrar Usuário</h5>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Nome</label>
            <input type="text" class="form-control" v-model="user.name" placeholder="Nome">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Email</label>
            <input type="email" class="form-control" v-model="user.email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Nome do Usuário</label>
            <input type="text" class="form-control" v-model="user.username" placeholder="Nome de Usuário">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Website</label>
            <input type="link" class="form-control" v-model="user.site" placeholder="Website">
          </div>
          <button type="button" @click="inserirUsuario()" class="btn btn-primary">Cadastar</button>
        </form>
          <br>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Username</th>
                <th scope="col">Site</th>
                <th scope="col">Editar</th>
                <th scope="col">Selecionar</th>
                <th scope="col">Deletar</th
              </tr>
            </thead>
            <tbody>
                <tr v-for="user in users" :key="user.id">
                  <th scope="row">{{user.id}}</th>
                  <td>{{user.name}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.username}}</td>
                  <td>{{user.site}}</td>
                  <td><button type="button" @click="updateUser()"class="btn btn-outline-primary">Editar</button></td>
                  <td><button type="button" @click="editUser(user)" class="btn btn-outline-primary">Selecionar</button></td>
                  <td><button type="button" @click="deletarUsuario(user.id)" class="btn btn-outline-danger">Deletar</button></td> 
                </tr>
            </tbody>
          </table>
          <spam v-for="carrega in carregaid" :key="carrega.id"> 
            {{carrega.id}}
          </spam>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>

       var app = new Vue( { 
            el: '#app',
            data(){
                return{
                users : [],
                 user: {},
                 email: '',
                 name: '',
                 carregaid: [],
                 site: '',
                 username: ''  
                 
                }

                //init(){}
            },
            methods: {
              async buscarUsuario(){
                try {
                  const users = await axios.get("https://6438830d4660f26eb19de7cd.mockapi.io/projeto/");
                  this.users = users.data;

                } catch (error) {
                  console.log(error)
                }
              },
              async inserirUsuario(){
                try {
                      const user = await axios.post("https://6438830d4660f26eb19de7cd.mockapi.io/projeto/", 
                      { 
                        name : this.name,
                        email : this.email, 
                        site : this.site,
                        username : this.username
                        
                      } );
                      alert('Usuário Cadastrado com Sucesso')
                    this.buscarUsuario()
                    } catch (error) {
                      alert('Erro ao cadastrar Entre em contato com o Admin')
                  }
              },
              async deletarUsuario(id){
                let pergunta = window.confirm('Deseja Deletar')

                  if(pergunta){
                      const user = await axios.delete("https://6438830d4660f26eb19de7cd.mockapi.io/projeto/" + id);
                      console.log(user)
                      console.log(id)
                      alert('Usuário deletado com Sucesso')
                      this.buscarUsuario()
                  }
              },
              async editUser(user){
                this.user.name = user.name;
                this.user.email = user.email;
                this.user.username = user.username;
                this.user.site = user.site;
                this.user.id = user.id

                this.carregaid = this.user.id

                console.log('Selecionado' + this.carregaid)
                console.log(this.user.name + '' + this.user.email + '' + this.user.id)
              },
              async updateUser(){
                try {
                    alert('Teste')
                    const user = await axios.put("https://6438830d4660f26eb19de7cd.mockapi.io/projeto/" + this.user.id , {
                        name : this.user.name,
                        email : this.user.email,
                        site : this.user.username,
                        username : this.user.username,
                    }) ;

                    alert('Usuário Editado!')
                    this.buscarUsuario()
                    
                } catch (error) {
                    alert('Entre em Contato com o Admin')
                }
              }
            }
        }) 
    </script>
</body>
</html>