body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
.percentual{
    width: 100%;
    height: auto;
    background-color: #212529;
    padding: 10px;
}
.banner{
    width: 100%;
    height: 300px;
    background-image: url('slider/slider-bg-2.jpg');
}
.banner:before{
    content: " ";
    background: rgba(51, 186, 157, 0.50);
    position: absolute;
    width: 100%;
    height: 300px;
}
.center{
    margin: 30px 50px 20px 150px ;
}
.caixa2{
    width: 100%;
    height: 300px;
    
}
.caixa2{
    width: 100%;
    height: 300px;
    
}
.texttitulo{
    color: black;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 25px;
    font-weight: bold
}
.texttitulo2{
    color: black;
    text-align: left;
    padding-left: 40px;
    padding-right: 100px;
    padding-top: 20px;
    font-size: 25px;
    font-weight: bold
}
.texttitulo3{
    color: black;
    text-align: right;
    padding-left: 100px;
    padding-right: 70px;
    padding-top: 20px;
    font-size: 25px;
    font-weight: bold
}
.textcenter{
    text-align: left;
    padding-left: 40px;
    padding-right: 100px;
}
.textcenter2{
    text-align: left;
    padding-left: 300px;
    padding-right: 100px;
}
.image{
    text-align: center;
}

    
    

